<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-rvmtech" value="https://nuget.pkg.github.com/Elfarrar/index.json" />
    <add key="local-rvm" value="C:\IA\Projetos\RVM.Common\local-feed" />
  </packageSources>
  <packageSourceCredentials>
    <github-rvmtech>
      <add key="Username" value="Elfarrar" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-rvmtech>
  </packageSourceCredentials>
</configuration>
